<% if notice.present? %>
  <div class="sm-alert sm-alert-success">
    <div class="flex items-center justify-between gap-5">
      <div class="icon-container">
        <i class="fa-solid fa-check text-xl"></i>
      </div>
      <p class="flex-1"><%= notice %></p>
    </div>
  </div>
<% end %>

<header class="flex justify-center">
  <div class="flex flex-1 justify-center pl-[147px]">
    <h1>List of Articles</h1>
  </div>

  <%= link_to new_article_path, class: "sm-btn sm-btn-outline" do %>
    <i class="fa-light fa-pen-nib"></i> Write an Article
  <% end %>
</header>

<hr />

<div id="articles" class="flex flex-wrap gap-5">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>


