<header class="flex gap-5">
  <%= link_to articles_path, class: "sm-btn sm-btn-link" do %>
    <i class="fa-light fa-chevron-left"></i> Back to Articles  
  <% end %>
</header>

<h1>Write an Article</h1>

<%= render "form", article: @article %>
