<% if notice.present? %>
  <div class="sm-alert sm-alert-success">
    <div class="flex items-center justify-between gap-5">
      <div class="icon-container">
        <i class="fa-solid fa-check text-xl"></i>
      </div>
      <p class="flex-1"><%= notice %></p>
    </div>
  </div>
<% end %>

<header class="flex justify-center">
  <div class="flex flex-1 justify-center pl-[185px]">
    <h1>Authors</h1>
  </div>

  <%= link_to new_author_path, class: "sm-btn sm-btn-outline" do %>
    <i class="fa-light fa-address-card"></i> Create a New Author
  <% end %>
</header>

<hr />

<div id="authors" class="flex flex-wrap gap-5">
  <% @authors.each do |author| %>
    <div class="flex flex-col gap-5 p-10 border rounded min-w-[320px] transition-all flex-1 hover:border-neutral-800 hover:shadow">
      <%= render author %>

      <div class="flex">
        <%= link_to author, class: "sm-btn sm-btn-tertiary" do %>
          <i class="fa-light fa-address-card"></i> View Author
        <% end %>
      </div>
    </div>
  <% end %>
</div>