<% if notice.present? %>
  <div class="sm-alert sm-alert-success">
    <div class="flex items-center justify-between gap-5">
      <div class="icon-container">
        <i class="fa-solid fa-check text-xl"></i>
      </div>
      <p class="flex-1"><%= notice %></p>
    </div>
  </div>
<% end %>

<h1>Authors</h1>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Show this author", author %>
    </p>
  <% end %>
</div>

<%= link_to "New author", new_author_path %>
